table 
{
    border-collapse: collapse;
	border: 1px solid black;
	width: 500px;
	height:500px;
	table-layout: fixed;
	text-align: justify;
}

th
{
    padding: 10px;
}

.tdClass
{
	border: 1px solid black;
	display:table-cell;
    width:20%;
	height: 25px;
}

.headerCol
{
	display:inline-block;
	display:table-cell;
	border: 1px solid black;
	vertical-align: text-top;
	white-space: pre-wrap;
}
.headerRow
{
	display:inline;
	display:table-cell;
	border: 1px solid black;
	text-align: justify;
}